apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  labels:
    app: auth
  namespace: staging
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: devheavenci/auth-service:07329536
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 250m
            memory: 64Mi
          limits:
            cpu: 500m
            memory: 128Mi
        env:
        - name: GO_HOST
          value: "0.0.0.0"
        - name: GO_PORT
          value: "8080"
        - name: JWT_ISSUER
          value: DevHeaven
        - name: JWT_EXPIRES
          value: "24"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
                name: staging-jwt
                key: secret
        - name: POSTGRES_HOST
          value: "auth-db-service"
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
                name: auth-db
                key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
                name: auth-db
                key: password
        - name: POSTGRES_DB
          value: "devheaven"